RewriteEngine On

# Do NOT redirect index.php, SDK.zip, Game.cs
RewriteCond %{REQUEST_URI} !^/dotnet/index\.php$
RewriteCond %{REQUEST_URI} !^/dotnet/SDK\.zip$
RewriteCond %{REQUEST_URI} !^/dotnet/Game\.cs$

# Redirect everything else from /dotnet to /api
RewriteRule ^(.*)$ /api/$1 [R=301,L]